<div class="row">
  <div class="col-xs-12">
    <img src="http://www.gov.cn/xinwen/2022-04/21/5686522/images/c76f2d1bdefb4209acd8878c55e628ee.jpg" alt="recipe.name"
         clas="img-responsive"
         style="max-height: 300px;"
    >
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1> recipe.name </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button"
              class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a  style="cursor: pointer">Add Ingredients to Shopping List</a></li>
        <li><a style="cursor: pointer"  >Edit Recipe</a></li>
        <li><a style="cursor: pointer" >Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    recipe.description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    test
  </div>
</div>
