<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile *ngFor="let item of tableElements">
    <mat-card style="width: 150px;height: 150px;">
      <div style="display: flex;justify-content: space-between">
        <p>主卧</p>
        <div>
          <mat-slide-toggle color="primary" checked></mat-slide-toggle>
        </div>
      </div>
      <p>1个设备</p>
      <div style="display: flex;justify-content: space-between">
        <img style="width: 38px;height: 38px"
             src="./assets/tbq.png"/>
        <img style="width: 38px;height: 38px"
             src="./assets/zcz.png"/>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
