<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="mat-elevation-z0">
      <button mat-icon-button routerLink="/recipes">
        <mat-icon matTooltip="account_balance">account_balance</mat-icon>
      </button>
      <mat-card-subtitle style="text-align:center;">主页</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="mat-elevation-z0">
      <button mat-icon-button routerLink="/auth">
        <mat-icon matTooltip="account_box">account_box</mat-icon>
      </button>
      <mat-card-subtitle style="text-align:center;">模式</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="mat-elevation-z0">
      <button mat-icon-button routerLink="/shopping-list">
        <mat-icon matTooltip="question_answer">question_answer</mat-icon>
      </button>
      <mat-card-subtitle style="text-align:center;">我的</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
