<div style="background-color: #0D58ff;height: 50px;display: table;width: 100%">
  <mat-icon (click)="aboutBack()" style="font-size: 30px;color: white;vertical-align: middle;display: table-cell;">keyboard_arrow_left
  </mat-icon>
  <p style="color: white;width: 200px;font-size: 16px;padding-left: 33%;vertical-align: middle;display: table-cell">
    关于</p>
</div>

<div style="margin-top: 100px">
  <div style="text-align: center;margin: 0 auto;">
    <img style="width: 80px;height: 80px"
         src="http://www.gov.cn/xinwen/2022-04/21/5686522/images/c76f2d1bdefb4209acd8878c55e628ee.jpg"/>
  </div>
  <p style="text-align: center;margin-top: 20px;font-size: 15px">名豆之约</p>
  <p style="text-align: center;margin-top: 12px;font-size: 13px;color: gray">version 4.0.4</p>
  <p style="text-align: center;margin-top: 80px;font-size: 14px;color: gray">服务热线1: 020-3726-6903</p>
  <p style="text-align: center;margin-top: 12px;font-size: 14px;color: gray">服务热线2: 189-9845-1305</p>
  <p style="text-align: center;margin-top: 80px;font-size: 14px;color: deepskyblue;text-decoration: underline">使用条款和隐私政策</p>
  <p style="text-align: center;margin-top: 20px;font-size: 14px;color: gray">广州万烨生物有限公司 版权所有</p>
  <p style="text-align: center;margin-top: 10px;font-size: 14px;color: gray">Apache License, Version 1.0</p>

</div>

