<div class="row">
  <div class="col-xs-12 col-md-6 col-offset-3">
    <form    *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" class="form-control"  name="email" required >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password"  class="form-control" name="password" required minlength="6">
      </div>
      <div>
        <button class="btn btn-primary" type="submit"  >{{ isLoginMode ? 'Login' : 'Sign Up'}}</button> |
        <button class="btn btn-primary" type="button" >Switch to {{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
      </div>
    </form>
  </div>
</div>
