<div style="margin-top: 15px;text-align: right;padding-right: 20px" routerLink="/message">
  <mat-icon matBadge="9" class="mat-badge-small" matBadgeColor="warn">power_settings_new</mat-icon>
</div>
<div>
  <div style="margin: 0 auto;text-align: center;width: 40px;height: 40px;border-radius: 50%;overflow: hidden">
    <img src="http://www.gov.cn/xinwen/2022-04/14/5685269/images/7a9bf6768e7447a4bf4e861ef6c96aab.jpg">
  </div>
  <mat-card class="mat-elevation-z1"
            style="margin-left: 15px;margin-right: 15px;height: 100px">
    <mat-card-title style="padding-bottom: 10px;margin: 0 auto;text-align: center;font-size: 18px">白了又了白
    </mat-card-title>
    <mat-card-subtitle style="margin: 0 auto;text-align: center">minApp13043</mat-card-subtitle>
    <mat-card-actions style="display: flex;justify-content: space-between;">
      <button style="color: gray" mat-button>设备总数:8</button>
      <button style="color: gray" mat-button>设备开:5</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="mat-elevation-z1"
            style="margin-left: 15px;margin-right: 15px;margin-top: 15px;height: 110px">
    <div style="display: flex;justify-content: space-between" routerLink="/user">
      <img style="width: 24px;height: 24px" src="assets/mine_user.png"/>
      <div style="padding-bottom: 10px;color:black;width: 240px;
        height: 35px;display: table">
        <p style="display: table-cell;vertical-align: middle;text-align: left">个人信息</p>
      </div>
      <mat-icon style="color: gray">keyboard_arrow_right</mat-icon>
    </div>
    <div style="width: 85%; margin-left: 12%;margin-top: 1%;margin-bottom: 5%; margin-top: 1%;height: 1px; background-color: gray; transform:scaleY(0.5);"></div>
    <div style="display: flex;justify-content: space-between" routerLink="/share-manager">
      <img style="width: 24px;height: 24px" src="assets/mine_share.png"/>
      <div style="padding-bottom: 10px;color:black;width: 240px;
        height: 35px;display: table">
        <p style="display: table-cell;vertical-align: middle;text-align: left">共享管理</p>
      </div>
      <mat-icon style="color: gray">keyboard_arrow_right</mat-icon>
    </div>


  </mat-card>

  <mat-card class="mat-elevation-z1"
            style="margin-left: 15px;margin-right: 15px;margin-top: 15px;height: 160px">
    <div style="display: flex;justify-content: space-between"  (click)="cacheDialog()">
      <img style="width: 24px;height: 24px" src="assets/mine_cache.png"/>
      <div style="padding-bottom: 10px;color:black;width: 240px;
        height: 35px;display: table">
        <p style="display: table-cell;vertical-align: middle;text-align: left">清除缓存</p>
      </div>
      <mat-icon style="color: gray">keyboard_arrow_right</mat-icon>
    </div>
    <div style="width: 85%; margin-left: 12%;margin-top: 1%;margin-bottom: 5%; margin-top: 1%;height: 1px; background-color: gray; transform:scaleY(0.5);"></div>
    <div style="display: flex;justify-content: space-between" (click)="openDialog()">
      <img style="width: 24px;height: 24px" src="assets/mine_update.png"/>
      <div style="padding-bottom: 10px;color:black;width: 240px;
        height: 35px;display: table">
        <p style="display: table-cell;vertical-align: middle;text-align: left">检查更新</p>
      </div>
      <mat-icon style="color: gray">keyboard_arrow_right</mat-icon>
    </div>
    <div style="width: 85%; margin-left: 12%;margin-top: 1%;margin-bottom: 5%; margin-top: 1%;height: 1px; background-color: gray; transform:scaleY(0.5);"></div>
    <div style="display: flex;justify-content: space-between" routerLink="/set">
      <img style="width: 24px;height: 24px" src="assets/mine_set.png"/>
      <div style="padding-bottom: 10px;color:black;width: 240px;
        height: 35px;display: table">
        <p style="display: table-cell;vertical-align: middle;text-align: left">设置</p>
      </div>
      <mat-icon style="color: gray">keyboard_arrow_right</mat-icon>
    </div>

  </mat-card>

  <mat-card class="mat-elevation-z1"
            style="margin-left: 15px;margin-right: 15px;margin-top: 15px;height: 110px">
    <div style="display: flex;justify-content: space-between" routerLink="/waiter">
      <img style="width: 24px;height: 24px" src="assets/mine_waiter.png"/>
      <div style="padding-bottom: 10px;color:black;width: 240px;
        height: 35px;display: table">
        <p style="display: table-cell;vertical-align: middle;text-align: left">我的客服</p>
      </div>
      <mat-icon style="color: gray">keyboard_arrow_right</mat-icon>
    </div>
    <div style="width: 85%; margin-left: 12%;margin-top: 1%;margin-bottom: 5%; margin-top: 1%;height: 1px; background-color: gray; transform:scaleY(0.5);"></div>
    <div style="display: flex;justify-content: space-between" routerLink="/about">
      <img style="width: 24px;height: 24px" src="assets/user_about.png"/>
      <div style="padding-bottom: 10px;color:black;width: 240px;
        height: 35px;display: table">
        <p style="display: table-cell;vertical-align: middle;text-align: left">关于</p>
      </div>
      <mat-icon style="color: gray">keyboard_arrow_right</mat-icon>
    </div>
  </mat-card>

</div>
