<div style="background-color: #0091ff;height: 50px;display: table;width: 100%">
  <mat-icon (click)="aboutBack()" style="font-size: 30px;color: white;vertical-align: middle;display: table-cell;">
    keyboard_arrow_left
  </mat-icon>
  <p style="color: white;width: 200px;font-size: 16px;padding-left: 28%;vertical-align: middle;display: table-cell">
    我的客服</p>
</div>

<mat-card class="mat-elevation-z1"
          style="margin-left: 15px;margin-right: 15px;margin-top: 15px;height: 200px">
  <p style="margin-left: 1%;font-weight: bold">客服电话: 020-37266903</p>
  <div
    style="width: 95%; margin-left: 1%;margin-top: 1%;margin-bottom: 5%; margin-top: 1%;height: 1px; background-color: gray; transform:scaleY(0.5);"></div>
  <p style="margin-left: 1%;font-weight: bold">客服QQ: 3219368124</p>
  <div
    style="width: 95%; margin-left: 1%;margin-top: 1%;margin-bottom: 5%; margin-top: 1%;height: 1px; background-color: gray; transform:scaleY(0.5);"></div>
  <p style="margin-left: 1%;font-weight: bold">客服微信: mindor2017</p>
  <div
    style="width: 95%; margin-left: 1%;margin-top: 1%;margin-bottom: 5%; margin-top: 1%;height: 1px; background-color: gray; transform:scaleY(0.5);"></div>
  <p style="margin-left: 1%;font-weight: bold">公众号: 名都之约</p>
</mat-card>
