<div style="background-color: #0D58ff;height: 50px;display: table;width: 100%">
  <mat-icon (click)="aboutBack()" style="font-size: 30px;color: white;vertical-align: middle;display: table-cell;">
    keyboard_arrow_left
  </mat-icon>
  <p style="color: white;width: 200px;font-size: 16px;padding-left: 28%;vertical-align: middle;display: table-cell">
    设置</p>
</div>
<mat-card class="mat-elevation-z1"
          style="margin-left: 15px;margin-right: 15px;margin-top: 15px;height: 220px">
  <div style="display: flex;justify-content: space-between">
    <div style="padding-bottom: 10px;color:black;width: 240px;
        height: 35px;display: table">
      <p style="display: table-cell;vertical-align: middle;text-align: left">静音</p>
    </div>
    <mat-slide-toggle color="primary"></mat-slide-toggle>
  </div>
  <div
    style="width: 100%;margin-top: 1%;margin-bottom: 5%; margin-top: 1%;height: 1px; background-color: gray; transform:scaleY(0.5);"></div>
  <div style="display: flex;justify-content: space-between">
    <div style="padding-bottom: 10px;color:black;width: 240px;
        height: 35px;display: table">
      <p style="display: table-cell;vertical-align: middle;text-align: left">输出音频红外</p>
    </div>
    <mat-slide-toggle color="primary"></mat-slide-toggle>
  </div>

  <div
    style="width: 100%;margin-top: 1%;margin-bottom: 5%; margin-top: 1%;height: 1px; background-color: gray; transform:scaleY(0.5);"></div>
  <div style="display: flex;justify-content: space-between">
    <div style="padding-bottom: 10px;color:black;width: 240px;
        height: 35px;display: table">
      <p style="display: table-cell;vertical-align: middle;text-align: left">权限设置</p>
    </div>
    <mat-icon style="color: gray">keyboard_arrow_right</mat-icon>
  </div>
  <div
    style="width: 100%;margin-top: 1%;margin-bottom: 5%; margin-top: 1%;height: 1px; background-color: gray; transform:scaleY(0.5);"></div>
  <div style="display: flex;justify-content: space-between">
    <div style="padding-bottom: 10px;color:black;width: 240px;
        height: 35px;display: table">
      <p style="display: table-cell;vertical-align: middle;text-align: left">多语言设置</p>
    </div>
    <div style="padding-bottom: 10px;color:black;width: 240px;
        height: 35px;display: table">
      <p style="display: table-cell;color: #a3a3a3;vertical-align: middle;text-align: right">中文</p>
    </div>
    <mat-icon style="color: gray">keyboard_arrow_right</mat-icon>
  </div>
</mat-card>
<div style="text-align: center;margin-top: 50px">
  <button mat-flat-button
          style="border-radius:30px;background-color: #d8d8d8;color: black;width: 220px;font-weight: bold">退出登录
  </button>
</div>
