<div style="background-color: #0091ff;height: 50px;display: table;width: 100%">
  <mat-icon (click)="aboutBack()" style="font-size: 30px;color: white;vertical-align: middle;display: table-cell;">
    keyboard_arrow_left
  </mat-icon>
  <p style="color: white;width: 200px;font-size: 16px;padding-left: 28%;vertical-align: middle;display: table-cell">
    修改密码</p>
</div>
<div style="margin-left: 50px;margin-right: 50px;margin-top: 100px">
  <div style="display: flex;justify-content: space-between;">
    <div>
      <img style="width: 24px;height: 24px;margin-top:40%;margin-right: 10px" src="assets/phone_login.png"/>
    </div>
    <mat-form-field style="width: 100%;font-size: 10px" appearance="standard">
      <input matInput placeholder="请输入手机号">
    </mat-form-field>
  </div>
  <div style="display: flex;justify-content: space-between;">
    <div>
      <img style="width: 24px;height: 24px;margin-top:40%;margin-right: 10px" src="assets/code_login.png"/>
    </div>
    <mat-form-field style="width: 60%;font-size: 10px" appearance="standard">
      <input matInput placeholder="请输入验证码">
    </mat-form-field>
    <div>
    <div style="margin-top: 20%;border-style: solid;border-width: 1px;border-color: #0091ff;color: #0091ff;
  font-size: 12px;border-radius: 30px;text-align: center;height: 20px;width: 90px;">
      <p style="transform: scale(0.80);">获取验证码</p>
    </div>
    </div>
  </div>
  <div style="display: flex;justify-content: space-between;">
    <div>
      <img style="width: 24px;height: 24px;margin-top:40%;margin-right: 10px" src="assets/password_login.png"/>
    </div>
    <mat-form-field style="width: 100%;font-size: 10px" appearance="standard">
      <input matInput placeholder="请设置密码" type="password">
    </mat-form-field>
  </div>
  <div style="display: flex;justify-content: space-between;">
    <div>
      <img style="width: 24px;height: 24px;margin-top:40%;margin-right: 10px" src="assets/password_login.png"/>
    </div>
    <mat-form-field style="width: 100%;font-size: 10px" appearance="standard">
      <input matInput placeholder="请再次输入密码" type="password">
    </mat-form-field>
  </div>
  <div style="text-align: center;margin-top: 30px">
    <button mat-flat-button
            style="border-radius:30px;background-color: #0091ff;color: white;width: 200px;">确认
    </button>
  </div>
</div>
